@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Permanent+Marker&family=Ysabeau:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;500&family=Lobster&display=swap');

body{
    background-color: rgb(127 102 72);
    background-image: url(./albany_fondo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.animate__animated.animate__flipInX{
    --animate-duration: 3s;
}

.animate__animated.animate__lightSpeedInLeft{
    --animate-duration: 4s;
}

.animate__animated.animate__lightSpeedInRight{
    --animate-duration: 4s;
}

.ciervoBebe{
    position: absolute;
    bottom: 0;
    z-index: -1;
    width: 25%;
}

@keyframes entrada-izquierda {
    from {
      opacity: 0;
      transform: translateX(-90%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  #miImagen {
    animation: entrada-izquierda 1.5s ease-in-out;
  }

h1 {
    z-index: 100;
    font-size: 4em;
    color: rgb(127 102 72);
    font-family: Lobster;
    text-shadow: -3px -3px 1px #725A26;
    margin: 10px 15px 0 0;
    text-align: right;
}

h2{
    z-index: 100;
    font: 2em bold italic;
    font-family: Ysabeau;
    color: rgb(48, 116, 99);
    text-shadow: 1px 1px 1px #307463;
    margin: 10px 15px 0 10px;
    text-align: right;
    border-bottom: 8px groove #ffffff;
}

h3{
    font: 1.8em bold italic;
    font-family: Permanent Marker;
    color: rgb(48, 116, 99);
    margin-top: 40px;
    text-shadow: 1.5px 1px 1px black;
}

img {
    margin-top: 20px;
}

p{
    font: 1.4em bold italic;
    font-family: Permanent Marker;
    color:rgb(238, 218, 160);
    text-shadow: 1.5px 1px 1px black;
}

.details {
    margin: 10px 15px 0 0;
    text-align: right;
}

.direccion{
    text-decoration: none;
    font: 1.6em bold italic;
    font-family: Permanent Marker;
    color:rgb(255, 255, 255);
    text-shadow: 1.5px 1px 1px black;
}

.boton{
    display: flex;
    justify-content: center;
    align-content: center;
}

.whatsapp-button {
    background-color: rgb(48, 116, 99);
    font-family: Ysabeau;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 50px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.whatsapp-button.animate__animated.animate__zoomInUp{
    --animate-duration: 5s;
}

.whatsapp-button a {
    color: white;
    text-decoration: none;
}

.whatsapp-button:hover {
    background-color: #128C7E;
}

@media all and (max-width: 767px){
    .ciervoBebe{
        width: 45%;
        margin-bottom: 45%;
        margin-left: 1px;
    }
}