@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Permanent+Marker&family=Ysabeau:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;500&family=Lobster&display=swap');

/* body{
    background-color: rgb(127 102 72);
    /* background-image: url(./albany_fondo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  .full-page-bg::before {
    content: '';
    background-image: url('./Albany_prueba.png');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }

.animate__animated.animate__flipInX{
    --animate-duration: 3s;
}

.animate__animated.animate__lightSpeedInLeft{
    --animate-duration: 4s;
}

.animate__animated.animate__lightSpeedInRight{
    --animate-duration: 4s;
}

h1 {
    z-index: 100;
    font-size: 4em;
    color: rgb(127 102 72);
    font-family: Lobster;
    text-shadow: -2px -2px 1px #ffffff;
    margin: 10px 15px 0 0;
    text-align: right;
}

h2{
    z-index: 100;
    font: 2em bold italic;
    font-family: Ysabeau;
    color: rgb(48, 116, 99);
    text-shadow: 1.5px 1px 1px rgb(209, 203, 203);
    margin: 10px 15px 0 10px;
    text-align: right;
    border-bottom: 8px groove #ffffff;
}

h3{
    font: 1.8em bold italic;
    font-family: Permanent Marker;
    color: rgb(48, 116, 99);
    margin-top: 40px;
    text-shadow: 1.5px 1px 1px rgb(209, 203, 203);
}

p{
    font: 1.4em bold italic;
    font-family: Permanent Marker;
    color:rgb(238, 218, 160);
    text-shadow: 1.5px 1px 1px black;
}

.details {
    margin: 10px 15px 0 0;
    text-align: right;
}

.direccion{
    text-decoration: none;
    font: 1.4em bold italic;
    font-family: Permanent Marker;
    color:rgb(255, 255, 255);
    text-shadow: 1.5px 1px 1px black;
}

.boton{
    display: flex;
    justify-content: center;
    align-content: center;
}

.whatsapp-button {
    background-color: rgb(48, 116, 99);
    font-family: Ysabeau;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 50px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.whatsapp-button.animate__animated.animate__zoomInUp{
    --animate-duration: 5s;
}

.whatsapp-button a {
    color: white;
    text-decoration: none;
}

@media all and (max-width: 767px){
    html, body{
        width: 500px;
        height: 700px;
    }
}
